h1 {
    font-family: $play-fair;
    font-weight: $italic;
    font-size: $xx-large;
    font-style: italic;
}

h5 {
    font-family: $play-fair;     //12 de abril de 2018
    font-weight: $regular;
    font-size: $large;
    color: $nickel;
}

p {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $regular;
    color: $nickel;
    line-height: 3rem;
}

h4 {
    font-family: $roboto;       //@Naothai depelos.com
    font-size: $large;
    color: $ruddy-pink;
    font-weight: $regular;
    line-height: 1.7rem;
}

h3 {
    font-family: $play-fair;      //Naomi Thai
    font-weight: $italic;
    font-size: $x-large;
    font-style: italic;
    color: $raisin-black; 
}