//Esquema de colores
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;


// Tipografia
$play-fair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$regular: 400;
$italic: 900;

//Tamaño de fuente
$xx-large: 70px;
$h1-mobile: 45px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Paginacion
$pagination-border-radius-lg: 35px;
$pagination-active-bg: $nickel;
$link-color: $eerie-black;