span {
    color: $ruddy-pink;
}

.naomi_section {
    margin-top: 4rem;
    padding-bottom: 4rem;
    border-top: 2px solid $platinum;
    padding-top: 4rem;
    .naomi_parrafo {
        font-size: $small;
    }
    .naomi_foto {
        border-radius: 90px;
    }

}

.naomi_sub {
    transition: all 1s ease;
    &:hover  {
    color: $eerie-black;
}
    &:active {
        color: $platinum;
    }
}

.paginacion {
    background-color: $platinum;
    .paginacion_container {
        padding-top: 3.5rem;
        padding-bottom: 2.5rem;
    }
}

.pagination_nav .page-link {
    font-size: $medium;
    padding: 0.7rem 1.3rem;
}

@media (max-width: 768px) {
    .pagination_nav .page-link {
        font-size: $small;
        padding: 0.4rem 0.9rem;
    }
}

@media (max-width: 768px) {
    .naomi_container {
        max-width: 260px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 1.8rem;
       
    }
    .naomi_foto{
        width: 9.5rem;
        border-radius: 130px;
        margin-left: 3.3rem;
    
    }
}



@media (max-width: 768px) {
    .naomi_titulo {
        text-align: center;
    }
    .naomi_sub {
        text-align: center;
    }


}